button {
    margin: 5px;
    border-radius: 20px;
    font-size: 24px;
    color:#fff;
    background-color: #282A36;
    border: none;
}

.currentProfile{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

label{
    color : white;
}

.cadre{
    background-color: #282A36;
    border-radius : 20px;
}

.editbutton, .deletebutton{
    font-size: 20px;
}

.startsession{
    background: #3e9849;
}
.startsession:hover{
    background: #306e37;
}
.fixed2, .window {
    background-color: #191A23;
}
.scrolledWindow{
    border-style: none; /* Supprime la bordure */
    box-shadow: none;
}

.stopsession{
    background: #ce3838;
}
.stopsession:focus-visible{
    background-color: #dcd6d6;
}
.stopsession:hover{
    background: #b02d2d;
}
.speedProgress {
    min-height: 20px;
    color: #b02d2d;
}

.warningSessionName{
    color: rgba(255, 198, 0, 1);
}
