.currentProfile{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

label{
    color : white;
}

.cadre{
    background-color: #414450;
    border-radius : 16px;
    margin:20px;
    box-shadow: 6px 7px 7px 4px rgba(0,0,0,0.1);
}

.cadre label{
    color: white;
}

.editbutton, .deletebutton{
    font-size: 20px;
}

.startsession{
    background: #3e9849;
    box-shadow: 6px 7px 7px 4px rgba(0,0,0,0.1);
    margin: 5px;
    border-radius : 16px;
    font-size: 24px;
    border: none;
}
.startsession:hover{
    background: #306e37;
}

.startsession:disabled{
    background: #414450;
}

.fixed2, .window {
    background-color: #282A36;
}
.scrolledWindow{
    border-style: none; /* Supprime la bordure */
    box-shadow: none;
}

.stopsession{
    background: #ce3838;
    box-shadow: 6px 7px 7px 4px rgba(0,0,0,0.1);
    margin: 5px;
    border-radius : 16px;
    font-size: 24px;
    border: none;
}

.stopsession:hover{
    background: #8d2424;
}

.stopsession:disabled {
    background: #414450;
}

.speedProgress {
    min-height: 20px;
    color: #b02d2d;
}

#sessionFrame{
    background-color: #414450;
    margin:20px;
    border-radius : 16px;
    box-shadow: 6px 7px 7px 4px rgba(0,0,0,0.1);
}

#sessionFrame label{
    color:white;
}

#sessionFrame button{
    background-color: #282A36;
    margin: 5px;
    border-radius : 16px;
    font-size: 24px;
    border: none;
}


.errorLabel{
    color: #ff8800;
}

.MenuBar {
   background-color: #414450;
}

.separator{
    background-color: white;
}



